<body style="width:100%;">
    <div class="row" style="margin-left:0px;padding:10px;">
        <div>
            <ul class="nav nav-tabs" >
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a style="padding:10px;" routerLink="/home">View Events</a>
                </li>

                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a style="padding:10px;" routerLink="/tickets">View Tickets</a>
                </li>

                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a style="padding:10px;" routerLink="/admin">Register Event</a>
                </li>

                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a style="padding:10px;" routerLink="/admin2">Register Ticket</a>
                </li>

                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a style="padding:10px;" routerLink="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
<div class="container" style="display:block;min-width:100vw;text-align:center;">
    <div class="row" style="text-align:center;">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</body>