<br>
<body style="width:100vw;text-align:center;">
    <div class="container register-container">
        <div class="row">
            <div class="col-md-6 register-form-1" style="padding:auto;margin:auto;text-align:center;">
                <h3>How many tickets would you like for event: {{events[eventID-1].name}}</h3>
                <form #form="ngForm" (ngSubmit)="form.valid && registerTicket(form)">

                    <div class="form-group">
                        <input type="number" name="ticketAmt" [(ngModel)]="model.ticketAmt" id="ticketAmt" class="form-control"
                            placeholder="enter number of tickets" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
