<br>
<body style="width:100vw;text-align:center;padding:auto;margin:auto;">
    <h1 *ngIf="auth">All Tickets</h1>
    <h1 *ngIf="!auth">Your Tickets</h1>
<br>
<table class="table-bordered table-sm" style="padding:auto;margin:auto;">
    <thead style="font-weight:750;background-color:#303030;color:white;text-align:center">
        <tr>
            <td scope="col">Ticket ID</td>
            <td scope="col">Number of tickets</td>
            <td *ngIf="auth" scope="col">Purchased By</td>
            <td scope="col">Event Name</td>
            <td scope="col">Price</td>
        </tr>
    </thead>
        <tr scope="row" *ngFor="let item of tickets;index as i;" style="text-align:center">
            <td >{{item.id}}</td>
            <td >{{item.ticketAmt}}</td>
            <td *ngIf="auth">{{users[item.userID-1].email}}</td>
            <td >{{events[item.eventID-1].name}}</td>
            <td >{{orders[item.ticketID-1].price * item.ticketAmt | currency}}</td>
        </tr>
</table>
</body>